<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://172.20.2.131:3506/journey?allowMultiQueries=true&amp;Unicode=true&amp;characterEncoding=UTF-8&amp;useSSL=false"/>
                <property name="username" value="loan"/>
                <property name="password" value="JLpaymysql8.0!"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mybatis/mapper/TUserMapper.xml"/>
    </mappers>
</configuration>